.about-container {
	margin: auto;
	background-color: white;
	border-radius: 25px;
	padding: 50px 20px;
	position: relative;
}
.about-container::after {
	content: "";
	position: absolute;
	inset: -0.625em;
	background: linear-gradient(
		to bottom right,
		rgba(251, 82, 107, 0.8),
		rgb(255, 170, 0, 0.8)
	);
	filter: blur(1rem);
	z-index: -1;
}

.row {
	align-items: center;
	justify-content: center;
}

.about-text {
	color: rgb(41, 41, 41);
	text-align: justify;
	font-size: calc(0.5rem + 0.8vw);
}

.skill-icon {
	margin: 20px 5px;
}
