#avatar-img {
	max-height: 600px;
	max-width: 600px;
}

h1 {
	font-size: calc(1.375rem + 3.5vw);
	background: -webkit-linear-gradient(rgb(255, 142, 55), rgb(255, 79, 126));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
