.work-container {
	margin: auto;
	background-color: white;
	border-radius: 25px;
	position: relative;
}
.work-container::after {
	content: "";
	position: absolute;
	inset: -0.3em;
	background: linear-gradient(
		to bottom right,
		rgba(251, 82, 107, 0.8),
		rgb(255, 170, 0, 0.8)
	);
	filter: blur(0.75rem);
	z-index: -1;
}

.row {
	display: flex;
	justify-content: center;
}

.project {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

h2 {
	margin: 30px 5px 5px 5px;
	color: rgb(41, 41, 41);
	text-shadow: 2px 2px 2px antiquewhite;
	text-align: center;
	font-size: calc(1rem + 1.25vw);
}

.img-title {
	color: rgb(41, 41, 41);
	/* text-shadow: 2px 2px 3px white; */
	background-color: antiquewhite;
	text-shadow: 2px 2px 1px white;
	box-shadow: 2px 2px 2px rgba(41, 41, 41, 0.5),
		0px 0px 1px rgba(41, 41, 41, 0.5);
	padding: 0 5px;
	font-size: calc(1rem + 0.8vw);
	display: inline-block !important;
	transform: rotate(-5deg);
	backface-visibility: hidden;
	z-index: 3;
	position: absolute;
	top: calc(10% - 5px);
	left: calc(10% - 90px);
}

img {
	margin: 50px 0;
	width: 100%;
	box-shadow: 3px 3px 4px rgba(41, 41, 41, 0.5),
		-1px -1px 1px rgba(41, 41, 41, 0.5);
	position: relative;
}

span {
	z-index: 70;
	position: absolute;
	opacity: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

button {
	background-color: antiquewhite;
	color: rgb(41, 41, 41);
	text-shadow: 1px 1px 1px white;
	box-shadow: 3px 3px 4px rgba(41, 41, 41, 0.5),
		0px 0px 1px rgba(41, 41, 41, 0.5);
}
button:hover {
	color: rgb(41, 41, 41);
	background-color: rgb(253, 214, 164);
	box-shadow: 3px 3px 7px rgba(41, 41, 41, 0.8),
		0px 0px 1px rgba(41, 41, 41, 0.8);
	text-decoration: none;
}

.project:hover span {
	opacity: 1;
}

.project:hover img {
	opacity: 0.4;
}

/*  */
