.work-container {
  margin: auto;
  background-color: rgba(250, 235, 215, 0.4);
  border-radius: 25px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  color: white;
  text-shadow: 1px 1px 1px #672900fa;
  font-size: calc(1rem + 1.25vw);
}

/* h2 {
  color: #672900cd;
  text-shadow: 1px 1px 1px white;
  font-size: calc(1rem + 1.25vw);
} */

.contact-info-container {
  display: flex;
  flex-direction: column;
}
